.Entete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 25px;
  height: 25px;
  background-color: #1d1d1d;
  color: white;
  font-size: 1em;
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
    }
  }
}